.view-agenda {
  .views-field-field-date-agenda {
    text-align: center;
    .short-date {
      padding: .5em;
    }
    .short-date > span {
      display: block;
    }
    .day {
      font-size: 1.75em;
      line-height: 1em;
    }
    .month {
      font-size: 1.5em;
      line-height: 1em;
      text-transform: lowercase;
    }
    .year {
      padding: 0.25em 0;
    }
  }
  .view-footer {
    clear: both;
    text-align: right;
    margin-top: 3em;
  }


  /** PAGE AGENDA **/
  &[class*='view-display-id-page'] {
    .views-field-field-date-agenda {
      float: left;
      width: 120px;
      margin-right: 1em;
      .short-date {
        background: $primary;
        color: white;
      }
    }
    .view-content {
      position: relative;
    }
    .views-row {
      margin-left: calc(120px + 1em);
      clear: both;
    }
    .views-field-title {
      font-size: 1.5em;
      margin-bottom: .5em;
      font-family: $titlesfont;
    }
    .views-field-field-adresse {
      color: $lightfont;
      .field-content {
        display: inline;
      }
    }
    .hour-precision {
      display: block;
      padding: .5em;
      font-size: 1rem;
      font-style: italic;
      span {
        display: block;
      }
    }
  }

  /** HOME BLOC AGENDA **/
  &.view-display-id-block {
    .views-row {
      margin-left: calc(100px + 1em);
    }
    .views-field-field-date-agenda {
        width: 80px;
        font-size: 0.7em;
        flex-shrink: 0;
        flex-grow: 0; // tu touches pas à ma taille, flex!
        padding: 0 1em 1em 0;
        .short-date {
          background: $lightbackground;
          color: $lightfont;
        }
    }
    .hour-precision {
      display: none;
    }
  }
}
