
/*
  === PAGE ACCUEIL ESPACE CHORISTE ===
*/

.page-espace-choriste {
  #main-content { width: 100%; }
  #main-content .region-content {
    @extend %flex-container;
    justify-content: space-between;
    margin: 1rem 0 2rem;
  }
  #block-system-main {
    min-width: 60%;
    padding-right: 3rem;
  }
  #block-system-user-menu,
  #block-user-login {
    min-width: 40%;
  }

  .view-header {
    margin: 1rem 0 3rem;
  }

  .revision-date {
    font-size: 1.2rem;
    margin-top: 2em 0 0.5em;
  }
  .revision-date:first-of-type { margin-top: 1em; }

  .views-field-type {
    float: left;
  }
  .type-tag {
    background: $primary;
    color: white;
    border-radius: 2px;
    padding: 0 0.5em;
    font-size: 0.8em;
    margin-right: 0.5em;
  }
}


/*
  === PAGE DETAIL CHANSON ===
*/

.node-type-chanson {
  .node-chanson .content {
    @extend %flex-container;
  }
  .main-col {
    min-width: 60%;
    padding-right: 3rem;
  }
  .side-col {
    min-width: 40%;
    background: lighten($darkbackground, 5%);
    padding: 0rem 2rem;

    .h2,.h3 {
      font-weight: bold;
      opacity:.6;
    }
    .h4{
      font-weight: bold;
      padding-left: .5rem;
    }
    ul {
      padding-left: 1rem;
    }
    li {
      list-style-type: none;
      padding-left: .5rem;
    }
    a {
      text-decoration: none;
    }
    a:before {
      content:"▸ ";
    }
    a:hover {
      color: $primary;
    }
  }
  .headings {
    font-family: $titlesfont;
    color: $lightfont;
    font-size: 1.5em;
    margin: 1.2rem 0 3rem;
  }
  .lyrics {
    font-size: 1.2em;
  }
  .part {
    //margin-top: 3rem;
    border-top: 3px solid $lightbackground;
    padding-bottom: 2rem;
  }
  audio {
    margin: 1rem auto;
  }
}
