.front .main-wrapper {
  background: $darkbackground;
  padding: 0;
}
.homezone {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.homezone.top {
  padding-bottom: 0;
}
.homezone.higher-central {
  padding-top: 0;
}
.view-home-slider,
.view-home-videos {
  overflow: hidden;
  margin: 1rem auto;
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 1024px;
}
.view-home-videos,
.region-home-higher-central,
.region-home-bottom {
  @extend %flex-container;
}
.homezone.higher-central {
  .edito {
    min-width: 60%;
    padding-right: 3rem;
    .know-more {
      float: right;
      margin: 1rem 0 2rem;
    }
  }
  .agenda {
    min-width: 40%;
    .views-row {
      @extend %flex-container;
    }
    .event-title a {
      color: $darkfont;
      text-decoration: none;
    }
    .address {
      font-size: 0.9em;
      color: $lightfont;
    }
  }
  .more-link a {
    @extend %primary-button;
    margin: 2rem 0;
  }
}
#block-views-home-videos-block .view-content {
  @extend %flex-container;
  justify-content: space-between;
}
#block-views-home-videos-block .content {
  text-align: right;
}
.homezone.lower-central {
  background: $lightbackground;
  padding-bottom: 2rem;
}
.region-home-lower-central {
  @extend %container;
}
.homezone .know-more {
  margin-top: 2rem;
}

.region-home-bottom {
  .block-views {
    min-width: 60%;
    padding-right: 3rem;
  }
  .block-user,
  .block-menu {
    min-width: 40%;
  }
}

// Pour cause d'alternance entre les blocs, le footer doit changer de couleur sur la home seulement
.front #footer {
  background: $lightbackground;
}

@media screen and (max-width: $mobile) {
  .view-home-slider {
    display: none;
  }
  .homezone {
    padding: 1rem;
  }
  #block-views-home-videos-block .view-content {
    flex-direction: column;
    .views-row {
      padding-bottom: 1rem;
    }
  }
}