#user-login-form {
  input {
    width: 100%;
  }
  input[type="submit"] {
    @extend %primary-button;
    border: 0;
    width: auto;
    float: right;
  }
  .item-list li {
    list-style-type: none;
    margin: -1em 0 0;
    a {
      font-size: 0.8em;
    }
  }
}



/*
  === PAGE TROMBINOSCOPE ===
*/
.page-trombinoscope {
  .item-list {
    margin-bottom: 3rem;
    h3 {
      font-size: 1.5em;
      padding-bottom: 0.25em;
      border-bottom: 3px solid $primary;
      margin-bottom: 0.5em;
    }
    ul {
      list-style-type: none;
      @extend %flex-container;
      align-items: baseline;
    }
    li {
      padding: 0.5em;
      margin: 0;
      text-align: center;
    }
    .views-field-name {
      padding: 0.5em;
      max-width: 100px;
    }
  }
}
