body {
  font-family: $textsfont;
  color: $darkfont;
  background: $darkbackground;
}

* {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $titlesfont;
  font-weight: 500;
  color: $lightfont;
}
h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.5em;
}
h3, .h3 {
  font-size: 1.2em;
}

a, a:visited, a:active {
  color: $darkfont;
  transition: color .3s ease;
}
a:hover {
  color: darken($darkfont, 15%);
}

a.primary, a.primary:visited, a.primary:active
{
  color: $primary;
}

a.primary:hover {
  color: darken($primary, 15%);
}

.btn.primary {
  @extend %primary-button;
}


// STRUCTURE

.container {
  @extend %container;
}
.flex-container {
  @extend %flex-container;
}
.flex-container--column {
  flex-direction: column;
}

.main-wrapper {
  background: $lightbackground;
  padding: 2rem 0;
}
#main-content {
  width: 100%;
}


// DRUPAL TABS
.tabs ul {
  width: 100%;
  margin-top: 20px;
  border-color: $primary;
  a {
    color: $primary;
  }
}


// ------- NODES -------

// TYPE PAGES
.node-type-page .node-page .content {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

// TYPE WEBFORMS
.node-type-webform .node-webform .content {
  max-width: 420px;
  margin: auto;
}
