@mixin container() {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
%container {
  @include container();
}

@mixin flexcontainer() {
  @include container();
  display: flex;
}
%flex-container {
  @include flexcontainer();
}

@mixin button($color) {
  padding: 1rem 2rem;
  background: $color;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: .3s ease-in-out;
  &:hover {
    opacity: 0.7;
    transition: .3s ease-in-out;
  }
}
%primary-button {
  @include button($primary);
}
