// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans');
$titlesfont: 'Montserrat', sans-serif;
$textsfont: 'Open Sans', sans-serif;

// COLORS
$primary: #00a652;
$darkfont: #1f1f1f;
$lightfont: #666666;
$lightbackground: #ffffff;
$darkbackground: #e2e2e2;
$iconmidi: #3b9eff;
$iconmpg: #af75dd;

// Media queries

$mobile: 500px