.type-icon {
  font-size: .8rem;
  padding: .1rem .2rem;
  border-radius: 4px;
  color: #fff;
  background-color: #362f2d;
  font-weight: bold;
  margin-left: .5rem;
}

.type-icon[data-type="midi"] {
  background-color: $iconmidi;
}
.type-icon[data-type="mpeg"] {
  background-color: $iconmpg;
}

.page-partotheque {
  .main-wrapper {
    border-top: inset 3rem $primary solid;
  }
  .view-filters {
    background: $primary;
    padding: 1rem 2rem;
    input, select {
      height: 3rem;
    }
    label {
      color: #FFF;
    }
    .views-exposed-widgets{
      display: flex;
    }
    .views-submit-button {
      display: flex;
      align-items:flex-end;
    }
    .form-submit {
      @include button($iconmidi)
    }
  }
  .view-content {
    margin-top: 1rem;
    ul {
      list-style-type: none;
    }
    li {
      padding: 1rem;
      margin: 0;
      display: flex;
      .views-field-view-node {
        width: 10%;
        margin-left: 1rem;
        a {
          color: $primary;
        }
      }
      .views-field-nothing {
        margin:auto;
        flex:1;
      }
      .field-content a {
        text-decoration: none;
        font-weight: bold;
      }
    }
    li:nth-child(odd){
      background: #EEE;
    }
  }
  .views-exposed-form .views-exposed-widget{
    padding-top: 0;
  }
}
@media screen and (max-width: $mobile) {
  .views-exposed-form .views-exposed-widget {
    float: none;
  }
  .page-partotheque .view-filters .views-exposed-widgets {
    display: block;
  }
  .view-filters:before {
    content:"Filtres et recherche ▸";
    display: block;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0;
    cursor: pointer;
  }
  .view-filters > form {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
  }
  .view-filters > form.active {
    transition: max-height .3s ease;
    max-height: 4000px;
  }
  .page-partotheque .view-content li {
    flex-direction: column;
  }
  .page-partotheque .view-content li .views-field-view-node {
    width: 100%;
    margin:auto;
    padding: .5rem 0;
  }
  .page-partotheque .view-content li .views-field-nothing {
    margin: 0;
  }
  .page-partotheque .views-field-timestamp {
    font-size: .8rem;
    padding: .3rem 0;
  }
}

.view .style {
  background: $primary;
  font-size: 0.8em;
  padding: .2em .5em;
  margin-left: 1em;
  border-radius: .25em;
  color: white;
  opacity: .7;
}
