div.depth-1 .icon {
  background: transparent url(icons.png) 0px 0px no-repeat;
}

.path-admin-content-add .icon {
  background-position: -60px 0px !important;
}

.path-admin-content-aggregator .icon {
  background-position: -210px -150px !important;
}

.path-admin-settings-wysiwyg .icon,
.path-admin-settings-fckeditor .icon,
.path-admin-settings-tinymce .icon,
.path-admin-content-node .icon {
  background-position: -90px 0px !important;
}

.path-admin-settings-date-time .icon {
  background-position: -120px 0px !important;
}

.path-admin-settings-filters .icon {
  background-position: -30px -60px !important;
}

.path-admin-content-node-settings .icon {
  background-position: 0px -150px !important;
}

.path-admin-structure-translate .icon,
.path-admin-settings-language .icon {
  background-position: 0px -60px !important;
}

.path-admin-settings-performance .icon {
  background-position: -30px -90px !important;
}

.path-admin-reports-search .icon,
.path-admin-settings-search .icon {
  background-position: -30px -30px !important;
}

.path-admin-settings-devel .icon,
.path-admin-settings-site-maintenance .icon {
  background-position: -90px -90px !important;
}

.path-admin-settings-site .icon {
  background-position: -60px -90px !important;
}

.path-admin-structure-menu .icon {
  background-position: -150px 0px !important;
}

.path-admin-content-book .icon {
  background-position: -180px 0px !important;
}

.path-admin-content-forum .icon {
  background-position: -90px -150px !important;
}

.path-admin-content-comment .icon {
  background-position: -210px 0px !important;
}

.path-admin-structure-types .icon {
  background-position: -120px -30px !important;
}

.path-admin-structure-taxonomy .icon {
  background-position: -180px -30px !important;
}

.path-admin-settings-mailhandler .icon,
.path-admin-content-mailhandler .icon {
  background-position: -210px -30px !important;
}

.path-admin-settings-feedapi .icon,
.path-admin-content-feed .icon,
.path-admin-content-rss-publishing .icon {
  background-position: -150px -30px !important;
}

.path-admin-structure-block .icon {
  background-position: -210px -90px !important;
}

.path-admin-settings-image-toolkit .icon,
.path-admin-settings-imageapi .icon,
.path-admin-structure-imagecache .icon {
  background-position: -120px -60px !important;
}

.path-admin-structure-features .icon,
.path-admin-structure-modules .icon {
  background-position: -180px -90px !important;
}

.path-admin-structure-themes .icon {
  background-position: -120px -90px !important;
}

.path-admin-settings-actions .icon,
.path-admin-structure-trigger .icon {
  background-position: -180px -120px !important;
}

.path-admin-structure-views .icon {
  background-position: -210px -60px !important;
}

.path-admin-settings-uploads .icon {
  background-position: -90px -60px !important;
}

.path-admin-reports-access-denied .icon {
  background-position: -90px -30px !important;
}

.path-admin-reports-page-not-found .icon {
  background-position: -30px -150px !important;
}

.path-admin-reports-status .icon {
  background-position: -60px -30px !important;
}

.path-admin-user-rules .icon {
  background-position: 0px -120px !important;
}

.path-admin-user-captcha .icon,
.path-admin-user-permissions .icon {
  background-position: -30px -120px !important;
}

.path-admin-user-roles .icon {
  background-position: -60px -120px !important;
}

.path-admin-og .icon,
.path-admin-user-user .icon {
  background-position: -90px -120px !important;
}

.path-admin-user-profile .icon,
.path-admin-user-settings .icon {
  background-position: -150px -120px !important;
}

.path-admin-settings-logging .icon {
  background-position: -150px -60px !important;
}

.path-admin-reports-hits .icon {
  background-position: -60px -150px !important;
}

.path-admin-reports-updates .icon {
  background-position: -150px -90px !important;
}

.path-admin-reports-dblog .icon {
  background-position: -210px -120px !important;
}

.path-admin-reports-pages .icon {
  background-position: 0px -180px !important;
}

.path-admin-reports-referrers .icon {
  background-position: -180px -150px !important;
}

.path-admin-reports-settings .icon {
  background-position: -210px -180px !important;
}

.path-admin-reports-visitors .icon {
  background-position: -30px -180px !important;
}

.path-admin-settings-site-information .icon {
  background-position: -60px -30px !important;
}

.path-admin-settings-file-system .icon,
.path-admin-content-backup_migrate .icon {
  background-position: -60px -60px !important;
}

.path-admin-structure-contact .icon {
  background-position: -60px -180px !important;
}

.path-admin-settings-reroute_email .icon,
.path-admin-settings-smtp .icon,
.path-admin-content-simplenews .icon {
  background-position: -210px -30px !important;
}

.path-admin-settings-blogapi .icon {
  background-position: -90px -180px !important;
}

.path-admin-settings-simplenews .icon {
  background-position: 0px -150px !important;
}

.path-admin-settings-throttle .icon {
  background-position: -120px -150px !important;
}

.path-admin-content-nodequeue .icon {
  background-position: -180px -30px !important;
}

.path-admin-settings-clean-urls .icon {
  background-position: -180px -180px !important;
}

.path-admin-structure-path .icon {
  background-position: -150px -180px !important;
}

.path-admin-settings-error-reporting .icon {
  background-position: -150px -150px !important;
}
