/**
 * Aggressive resets so we can achieve a consistent look in
 * hostile CSS environments.
 */
#quickbar,
#quickbar * {
  border: 0;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}

/**
 * Base styles
 */
#quickbar {
  background: url(sprite.png) 0 -20px repeat-x;
  color: #ccc;
  font: normal 11px/20px "Lucida Grande", Verdana, sans-serif;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 550;
}

.quickbar-float #quickbar {
  position: absolute;
}

#quickbar.quickbar-open {
  height: 80px;
}

.quickbar-enabled.quickbar-sticky {
  margin-top: 30px;
}

.quickbar-enabled.quickbar-sticky #quickbar {
  position: fixed;
  top: 0;
  width: 100%;
}

#quickbar .collapsed {
  display: none;
}

#quickbar div.shadow {
  background: url(sprite.png) 0 -100px repeat-x;
  bottom: -10px;
  height: 10px;
  left: 0;
  position: absolute;
  right: 0;
}

#quickbar a {
  color: #fff;
  text-decoration: none;
}

#quickbar ul.links {
  /* Some themes (like Bartik) override the styling of ul.links
     for consistency when switching back and forth between themes
     we set the font again here */
  font: 11px/20px "Lucida Grande", Verdana, sans-serif;
}
#quickbar ul.links li,
#quickbar ul.links li a {
  float: left; /* LTR */
}
#quickbar ul.links li {
  list-style-type: none;
  list-style-image: none;
}
#quickbar ul.links li:hover a {
  background-color: #666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/**
 * First level menus
 */
#quickbar div.depth-0 {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 5px 10px;
}

#quickbar div.depth-0 #quickbar-admin {
  float: left; /* LTR */
}

#quickbar div.depth-0 #quickbar-user {
  float: right; /* LTR */
}

#quickbar div.depth-0 ul.links li a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
}
#quickbar div.depth-0 ul.links li a.active {
  background: url(sprite.png) 0 0 repeat-x;
  text-shadow: #333 0 1px 0;
}

#quickbar div.depth-0 .icon {
  display: none;
}

/**
 * Second level menus
 */
#quickbar div.depth-1 {
  padding: 0 10px;
  position: relative;
}

#quickbar div.depth-1 span.close {
  background: url(sprite.png) 0 -135px no-repeat;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
  position: absolute;
  right: 10px; /* LTR */
  text-indent: -9999px;
  top: 15px;
  width: 20px;
}

#quickbar div.depth-1 ul.links {
  float: left; /* LTR */
  height: 40px;
  line-height: 30px;
  overflow: hidden;
  padding: 5px 0;
}
#quickbar div.depth-1 ul.links li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#quickbar div.depth-1 ul.links li.view-all {
  background-color: transparent;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  right: 40px; /* LTR */
  top: 5px;
}
#quickbar div.depth-1 ul.links li.view-all a,
#quickbar div.depth-1 ul.links li.view-all a.active {
  background: #333 url(sprite.png) 100% -135px no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 9px;
  line-height: 20px;
  margin: 0;
  padding: 0 15px 0 10px;
  text-transform: uppercase;
}
#quickbar div.depth-1 ul.links li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 15px 5px 5px;
}
#quickbar div.depth-1 ul.links li a.active {
  background-color: #333;
}

#quickbar div.depth-1 span.icon {
  float: left; /* LTR */
  height: 30px;
  margin-right: 5px; /* LTR */
  width: 30px;
}
#quickbar.no-icons div.depth-1 span.icon {
  width: 0;
}
#quickbar.no-icons div.depth-1 ul.links li a {
  padding-left: 10px;
}

/* Overlay module support */
#quickbar ~ #overlay-container {
  margin-top: 30px;
}
